[server default]
user=root
password=msandbox
ping_interval=1
init_conf_load_script=""
shutdown_script=""
master_ip_failover_script=""
master_ip_online_change_script=""
report_script=""
##CLIENT_BINDIR##
##CLIENT_LIBDIR##

[server1]
hostname=127.0.0.1
port=10000
master_binlog_dir=##SANDBOX_HOME##/rsandbox_##VERSION_DIR##/master/data/
candidate_master=1
node_label=sandbox master


