[mysqld]
#old-passwords
#performance-schema=0
innodb_log_file_size=8M
innodb-flush-log-at-trx-commit=0
log-slave-updates
gtid-mode=on
enforce-gtid-consistency
slave-parallel-workers=5
relay_log_info_repository=table
master_info_repository=table
binlog_checksum=0
general-log
