Source: mha4mysql-manager
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7.2.13)
Build-Depends-Indep: perl
Maintainer: Yoshinori Matsunobu <Yoshinori.Matsunobu@gmail.com>
Standards-Version: 3.9.1
Homepage: http://code.google.com/p/mysql-master-ha/

Package: mha4mysql-manager
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
  libdbi-perl,
  libdbd-mysql-perl (>= 4.031),
  libconfig-tiny-perl,
  liblog-dispatch-perl,
  libparallel-forkmanager-perl,
  mha4mysql-node (>= 0.54)
Description: Master High Availability Manager and Tools for MySQL, Manager Package
